.home-view {
  height: 100%;
}

#sidebar {
  float: left;
  width: 25%;
  background-color: #dedede;
  padding: 35px;
  margin-right: 35px;
  min-height: 100%;
}

h1.sidebar-title {
  font-size: 2em;
  color: #4a4a4a;
  margin-top: 0;
  margin-bottom: 0;
  float: left;
  margin-right: 20px;
}

h3.sidebar-room {
  font-size: 1.15em;
  color: #979797;
  margin: 0 0 0.85em 0;
  display: inline-block;
}

.sidebar-btn-add {
  color: #979797;
  background-color: #fbfcfe;
}

.room-list {
  margin-top: 1.5em;
}

[ng-click] {
  cursor: pointer;
}

#chat-room {
  padding: 35px 35px 35px 0;
  height: 100%;
  overflow-y: scroll;
}

h1.active-room-title {
  margin-top: 0px;
}

.message {
  padding: 10px;
  border-bottom: 1px solid #dedede;
}

.message-username {
  font-weight: bold;
  padding-right: 15px;
}

.message-time {
  font-size: x-small;
  color: #979797;
}

#new-message {
  position: fixed;
  bottom: 0;
  padding: 35px 35px 35px 0;
  background-color: #fff;
}
