<div>
  <h2 class="modal-title">Create new room</h2>
  <div class="modal-body">
    <p>Enter a room name</p>
    <form ng-submit="modal.ok()">
      <div class="input-group">
        <input type="text" class="form-control input-lg" ng-model="modal.name" title="room-name" autofocus>
      </div>
    </form>
  </div>
  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <button class="btn modal-btn-cancel" type="button" ng-click="modal.cancel()">Cancel</button>
    </div>
    <div class="btn-group" role="group">
      <button class="btn modal-btn-create" type="button" ng-click="modal.ok()">Create room</button>
    </div>
  </div>
</div>
</div>
